*,
*::before,
*::after {
    margin: 0;
    padding: 0;
};

.hover_button {
    cursor: pointer;
    &:hover {
        background: purple;
    }
};

.start {
    background: lightseagreen;
    border-radius: 2px;
    color: white;
    display: inline-block;
    padding: 10px;
    &:hover{
        background-color: purple;
        cursor: pointer;
    }
}

.container {
    align-items: center;
    background: lightseagreen;
}

.game {
    align-items: center;
    background: lightseagreen;
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: space-evenly;
}

.setup_container {
    height: 100vh;
    box-sizing: border-box;
}

.gameboard_container {
    height: 100%;
}

.gameboard {
    height: 500px;
    width: 500px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    height: calc(500px/10);
}

.cell {
    background: white;
    padding: 20px;
    border: 1px solid lightblue;
    &:hover {
        background: lightseagreen;
        cursor: pointer;
    }
}

.setup_container {
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 100px;
}

.ship_title {
    background: lightseagreen;
    color: white;
    font-size: 30px;
    padding: 20px 0px 20px 10px;
    text-align: center;
    border-bottom: 10px solid lightseagreen;
}

.ship_drawer_container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ship_drawer {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    width: 400px;
}

#ship-0 {
    height: 100px;
    width: 50px;
    background: black;
};
#ship-1 {
    height: 150px;
    width: 50px;
    background: black;
};
#ship-2 {
    height: 150px;
    width: 50px;
    background: black;
};
#ship-3 {
    height: 200px;
    width: 50px;
    background: black;
};
#ship-4 {
    height: 250px;
    width: 50px;
    background: black;
};

.ship {
    box-sizing: border-box;
    &:hover {
        cursor: pointer;
    }
}

.submit_setup {
    background:lightgrey;
    border-radius: 5px;
    color: white;
    margin-top: 30px;
    padding: 20px;
    pointer-events: none;
};

.gameover_container {
    background: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.winner {
    background: lightseagreen;
    color: white;
    font-size: 30px;
    padding: 100px;
    margin-bottom: 200px;
    text-align: center;
}

.gameover_buttons {
    display: flex;
}

.end_game_button {
    padding: 20px;
    background: lightseagreen;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: .3s;
    &:hover {
        background: purple;
    }
}

.reset_button {
    padding: 20px; 
    background: lightseagreen;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-right: 20px;
    transition: .3s;
    &:hover {
        background: purple;
    }
}