*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

.start {
  background: lightseagreen;
  border-radius: 2px;
  color: white;
  display: inline-block;
  padding: 10px; }
  .start:hover {
    background-color: purple;
    cursor: pointer; }

.container {
  align-items: center;
  background: lightseagreen; }

.game {
  align-items: center;
  background: lightseagreen;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: space-evenly; }

.gameboard {
  height: 500px;
  width: 500px; }

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  height: calc(500px/10); }

.cell {
  background: white;
  padding: 20px;
  border: 1px solid lightblue; }
  .cell:hover {
    background: lightseagreen;
    cursor: pointer; }

.setup_container {
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: space-evenly; }

.ship_drawer {
  display: flex; }

#ship-0 {
  height: 100px;
  width: 50px;
  background: black; }

#ship-1 {
  height: 150px;
  width: 50px;
  background: black; }

#ship-2 {
  height: 150px;
  width: 50px;
  background: black; }

#ship-3 {
  height: 200px;
  width: 50px;
  background: black; }

#ship-4 {
  height: 250px;
  width: 50px;
  background: black; }

.ship {
  box-sizing: border-box;
  margin: 10px; }
  .ship:hover {
    border: 3px solid lightseagreen;
    cursor: pointer; }

.submit_setup {
  background: lightseagreen;
  border-radius: 5px;
  color: white;
  margin-top: 30px;
  padding: 20px; }
  .submit_setup:hover {
    background: purple;
    cursor: pointer; }
